<el-card>
  <mybread one="权限管理" two="角色列表"></mybread>
  <el-button type="primary" class="mybtn" plain>添加角色</el-button>
  <el-table :data="tableData" border style="width: 100%" class="tabquanxian">
    <!-- 展开栏的部分 -->
    <el-table-column type="expand">
      <template slot-scope="scope">
        <el-form label-position="left" inline class="demo-table-expand">
          <!-- <span>{{ scope.row.children }}</span> -->
          <!-- 遍历一级权限 -->
          <el-row v-for="(tag1,index1) in scope.row.children" :key="index1">
            <!-- 生成一级权限 -->
            <el-col :span="4">
              <el-tag
                closable
                class="tag1"
                @close="delRigth(scope.row.id, tag1.id, scope)"
              >
              {{tag1.id}}
                {{ tag1.authName }} </el-tag
              ><i class="el-icon-arrow-right"></i>
            </el-col>
            <el-col :span="20">
              <!-- 遍历二级权限 -->
              <el-row v-for="(tag2,index2) in tag1.children" :key="index2">
                <!-- 生成二级权限 -->
                <el-col :span="5">
                  <el-tag
                    class="tag2"
                    closable
                    type="success"
                    @close="delRigth(scope.row.id, tag2.id, scope)"
                  >
                  {{tag2.id}}
                    {{ tag2.authName }} </el-tag
                  ><i class="el-icon-arrow-right"></i>
                </el-col>
                <!-- 三级权限 -->
                <el-col :span="19">
                  <el-tag
                    class="tag3"
                    v-for="(tag3,index3) in tag2.children"
                    :key="index3"
                    closable
                    @close="delRigth(scope.row.id, tag3.id, scope)"
                    type="warning"
                    >
                    {{tag3.id}}
                    {{ tag3.authName }}
                  </el-tag>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
        </el-form>
      </template>
    </el-table-column>

    <el-table-column type="index"> </el-table-column>
    <el-table-column prop="roleName" label="角色名称" width="300">
    </el-table-column>
    <el-table-column prop="roleDesc" label="角色描述" width="300">
    </el-table-column>
    <el-table-column label="操作">
      <template slot-scope="scope">
        <el-button
          type="primary"
          icon="el-icon-edit"
          plain
          size="mini"
        ></el-button>
        <el-button
          type="danger"
          icon="el-icon-delete"
          plain
          size="mini"
        ></el-button>
        <el-button
          type="success"
          icon="el-icon-check"
          plain
          @click.prevent="openRole(scope.row.children,scope.row.id)"
          size="mini"
        ></el-button>
      </template>
    </el-table-column>
  </el-table>

  <!-- 打开嵌套 -->
  <el-dialog title="权限分配" :visible.sync="roleDialog">
    <el-tree
      :data="rightsList"
      :default-expand-all="true"
      show-checkbox
      node-key="id"
      ref="mytree"
      setRoleId
      :default-checked-keys="defaultChecked"
      :props="defaultProps"
    >

    </el-tree>
    {{ setRoleId }}
    {{ defaultChecked }}

    <div slot="footer" class="dialog-footer">
      <el-button @click="roleDialog = false">取 消</el-button>
      <el-button type="primary" @click="setRightFn"
        >确 定</el-button
      >
    </div>
  </el-dialog>
</el-card>
